<h1>Editing property1</h1>

<%= render "form", property1: @property1 %>

<br>

<div>
  <%= link_to "Show this property1", @property1 %> |
  <%= link_to "Back to property1s", property1s_path %>
</div>
